/* ESTILO GERAL */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343434;
}

/* HEADER */
header {
    background-color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000;
}

header img {
    height: 70px;
    width: 70px;
}

h1 {
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #ddd;
    margin: 0;
    padding: 20px;
    background-color: #343434;
}

/* VÍDEOS */
.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343434;
    padding: 20px;
}

.videos .available,
.videos .occupied {
    display: flex;
    flex-direction: column;
}

.videos h2 {
    margin-bottom: 10px;
    color: #ddd;
}

.videos video {
    display: inline-flex;
    width: 300px;
    height: 200px;
    margin: 0;
    border: 20px solid #343434;
    border-color: #888;
    background-color: #ddd;
}

/* ESTACIONAMENTO */
.parking-lot {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #343434;
}

#parking-lot-image {
    width: auto;
    height: auto;
    align-self: flex-start;
    margin-left: 35%;
}

#crosswalk-image {
    width: auto;
    height: 300px;
    margin-bottom: 2px;
}

.data {
    width: auto;
    height: auto;
}

.data > p {
    font-size: large;
    font-weight: 700;
    color: #ddd;
    margin-left: 300%;
    margin-top: 370%;
    margin-bottom: 370%;
}

#person {
    font-size: large;
    font-weight: 700;
    color: #ddd;
}

#user-icon {
    display: flex;
    width: 100px;
    height: 100px;
    top: 60%;
    right: 0;
}

/* RODAPÉ */
footer {
    background-color: #343434;
}