/* VARIÁVEIS PARA CORES E TAMANHOS */
:root {
    --primary-color: #343434;
    --secondary-color: #8C8C8C;
    --highlight-color: #FFFFFF;
    --border-color: #222F40;
    --font-family: "Montserrat", sans-serif;
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --padding-small: 10px;
    --padding-medium: 20px;
    --padding-large: 50px;
}

/* ESTILO GERAL */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--highlight-color);
}

/* HEADER */
header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid var(--secondary-color);
}

header img {
    height: 70px;
    width: 70px;
}

h1 {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: var(--padding-medium);
}

.title img {
    max-width: 100%;
    height: auto;
    width: 200px;
    max-height: 100px;
    margin: 0 50px 0 50px;
}

/* VÍDEOS */
.videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: var(--padding-medium);
    
}

.videos-text {
    display: flex;
    flex-direction: row;
}

.videos-text h2 {
    margin: 0 var(--padding-small) var(--padding-small);
}

.videos img {
    display: inline-flex;
    min-width: 400px;
    min-height: 200px;
    margin: 0;
    border: 20px solid var(--secondary-color);
    background-color: var(--highlight-color);
    border-radius: 10px;
}

/* DADOS DO ESTACIONAMENTO */
.parking-lot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-medium);
    background-color: var(--primary-color);
}

.parking-lot-image-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.parking-lot-image-part {
    display: ruby;
    width: 15%;
    background-size: cover;
    margin: 0 1%;
}

.parking-lot-image-part > p {
    font-size: var(--font-size-large);
    text-align: center;
    margin: 0 1%;
    display: inline-flex;
}

/* BARRA SEPARAR */
.barra-separar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* CONSOLE */
.console-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 300px;
    border: 5px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: var(--padding-small);
}

#console-data-txt {
    min-width: 350px;
    font-size: var(--font-size-medium);
    text-align: left;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.dispense-button {
    width: 120px;
    height: 50px;
    margin: var(--padding-small) 0.5%;
    background-color: var(--secondary-color);
    border: none;
    color: var(--highlight-color);
    padding: var(--padding-small) var(--padding-medium);
    text-align: center;
    text-decoration: none;
    font-size: var(--font-size-medium);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dispense-button:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

/* UPLOAD */
.upload-container {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: var(--padding-small);
}

.upload-container label {
    font-size: var(--font-size-medium);
    margin-bottom: var(--padding-small);
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container input[type="submit"] {
    background-color: var(--secondary-color);
    border: none;
    color: var(--highlight-color);
    padding: var(--padding-small) var(--padding-medium);
    text-align: center;
    text-decoration: none;
    font-size: var(--font-size-small);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.upload-container input[type="submit"]:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

.custom-file-upload {
    padding: var(--padding-small) var(--padding-medium);
    display: inline-block;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    border-radius: 4px;
}

.custom-file-upload:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
}

#occupancyChart {
    border: 20px solid var(--secondary-color);
    background-color: var(--highlight-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    display: block;
}