/* ESTILO GERAL */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343434;
}

/* HEADER */
header {
    background-color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000;
}

header img {
    height: 70px;
    width: 70px;
}

h1 {
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #ddd;
    margin: 0;
    padding: 20px;
    background-color: #343434;
}

/* VÍDEOS */
.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343434;
    padding: 20px;
}

.videos .available,
.videos .occupied {
    display: flex;
    flex-direction: column;
}

.videos h2 {
    margin-bottom: 10px;
    color: #ddd;
}

.videos video {
    display: inline-flex;
    width: 400px;
    height: 200px;
    margin: 0;
    border: 20px solid #343434;
    border-color: #888;
    background-color: #ddd;
}

/* ESTACIONAMENTO */
.parking-lot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #343434;
}

.parking-lot-image-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.parking-lot-image-part {
    display: ruby;
    width: 15%;
    background-size: cover;
    margin: 0 1%;
}

.parking-lot-image-part > p{
    color: #ddd;
    font-size: 16px;
    text-align: center;
    margin: 0 1%;
    display: inline-flex;
}

#user-icon {
    display: flex;
    width: 100px;
    height: 100px;
    top: 60%;
    right: 0;
}

/* RODAPÉ */
footer {
    background-color: #343434;
}

.console-data {
  position: relative;
  margin-bottom: 10px;
}

.console-data p {
    color: #ddd;
    font-size: 16px;
    text-align: center;
    margin-right:10%;
    padding: 10px;
    border: -1px solid #343434;
    border-radius: 5px;
}

.dispense-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    margin-right: 40%;
    background-color: #888;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.dispense-button:hover {
    background-color: #ddd;
}

.console-container{
    padding: 0px;
    border: 5px solid #343434;
    border-radius: 5px;
}

.barra-separar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}