<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Monitoramento de estacionamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <header>
      <div class="right-images">
        <img src="{{ url_for('static', filename='imagens/pedestre.png') }}" alt="Imagem pedestre">
        <img src="{{ url_for('static', filename='imagens/sinal-de-transito.png') }}" alt="Imagem sinal de trânsito">
        <img src="{{ url_for('static', filename='imagens/pare.png') }}" alt="Imagem sinal de pare">
        <img src="{{ url_for('static', filename='imagens/luzes-de-transito.png') }}" alt="Imagem semáforo">
      </div>
      <div class="title"> 
        <h1>Monitoramento de estacionamento</h1>
      </div>
      <div class="left-images">
        <img src="{{ url_for('static', filename='imagens/bicicleta.png') }}" alt="Imagem bicicleta">
        <img src="{{ url_for('static', filename='imagens/caminhao.png') }}" alt="Imagem estacionamento caminhão">
        <img src="{{ url_for('static', filename='imagens/parking.png') }}" alt="Imagem estacionamento">
        <img src="{{ url_for('static', filename='imagens/noparking.jpg') }}" alt="Imagem proibido estacionar">
      </div>
    </header>
    <main>
      <div class="videos">
        <div class="available">
          <h2>Livres: 0</h2>

          <video src="{{ url_for('static', filename='videos/parking1.mp4') }}" autoplay muted loop></video>
        </div>
        <div class="occupied">
          <h2>Ocupadas: 0</h2>
          <video src="{{ url_for('static', filename='videos/parking1.mp4') }}" autoplay muted loop></video>
        </div>
      </div>  

      <div class="parking-lot-image-container">
        <!-- Divisões da imagem do estacionamento -->
        
        <div class="parking-lot-image-part"><img src="{{ url_for('static', filename='imagens/BicicletaPark.png') }}" alt=""><p id="data1">Dados 1</p></div>
        <div class="parking-lot-image-part"><img src="{{ url_for('static', filename='imagens/motocicletaPark.png') }}"><p id="data2">Dados 2</p></div>
        <div class="parking-lot-image-part"><img src="{{ url_for('static', filename='imagens/carroPark.png') }}"><p id="data3">Dados 3</p></div>
        <div class="parking-lot-image-part"><img src="{{ url_for('static', filename='imagens/caminhaoPark.png') }}"><p id="data4">Dados 4</p></div>
        <div class="parking-lot-image-part"><img src="{{ url_for('static', filename='imagens/usericon.png') }}"><p id="data5">Dados 5</p></div>
      </div>

        <div class="console-container">
          <img id="barra-separar" src="{{ url_for('static', filename='imagens/barra-separar.png') }}" alt="">
          <div class="console-data">
            <p>Console Data 1</p>
            <button class="dispense-button">Dispensar</button>
          </div>
          <div class="console-data">
            <p>Console Data 2</p>
            <button class="dispense-button">Dispensar</button>
          </div>
          <div class="console-data">
            <p>Console Data 3</p>
            <button class="dispense-button">Dispensar</button>
          </div>
          <!-- Adicione mais parágrafos e botões conforme necessário -->
        </div>
    </main>
  </body> 
</html>